      <section id="messages">
        <ul class="list-unstyled" id="messageFeed">
        </ul>

        <footer>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="messageTextarea">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="send">Send</button>
            </div>
          </div>
        </footer>
      </section>